@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Families
$railyard-font: 'Bebas Neue', sans-serif;
$body-font: 'Encode Sans', sans-serif;

.title-landing-page {
  font-family: $railyard-font;
  color: #D20102;
  font-size: 160pt;
}

.subtitle-landing-page {
  font-family: $body-font;
  color: $black;
  font-size: 24pt;
  margin-top: -40px;
}

.title-home-page {
  font-family: $railyard-font;
  color: $black;
  font-size: 80pt;
  line-height: 1;
}
