@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Families
$railyard-font: 'Bebas Neue', sans-serif;
$body-font: 'Encode Sans', sans-serif;

.red-header {
  font-family: $body-font;
  color: #D20102;
  font-size: 36pt;
  font-weight: 400;
}

.black-subheader {
  font-family: $body-font;
  color: $black;
  font-size: 16pt;
  font-weight: 300;
}

.black-subheader-bold {
  font-family: $body-font;
  color: $black;
  font-size: 16pt;
  font-weight: 500;
}
