.side-menu-section {
  width: 25%;
  height: 80vh;
  position: sticky;
  top: 124px;

  .side-menu {
    height: 100%;
    background-color: $soft-white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
}

.cards-section {
  width: 75%;

  h1 {
    a {
      color: $red;
    }
  }

  .skill {
    background-color: $pale-red;
    color: $red;
    font-weight: 500;
    width: 13%;
    border-radius: 15px;
  }
}
