.filter-menu-section {
  width: 25%;
}

.cards-section {
  width: 75%;

  h1 {
    a {
      color: $red;
    }
  }

  .skill {
    background-color: $pale-red;
    color: $red;
    font-weight: 500;
    width: 13%;
    border-radius: 15px;
  }
}
