.container-user-basic-info {
  width: 50%;
  margin: 75px 20px 20px 75px;
  padding: 50px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container-user-about {
  margin: 20px 75px;
  margin-right: 10%;
  padding: 50px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
