<div class="container-landing-page">
  <header class="container-header-landing-page">
    <h1 class="title-landing-page">
      Railyard
    </h1>
    <h4 class="subtitle-landing-page">
      Build the Rails way together.
    </h4>
    <a href="/projects" class="button-landing-page">
      Get started <i class="fa-solid fa-arrow-right"></i>
    </a>
  </header>
</div>

<div class="container-home">
  <div id="connect" data-controller="scroll-reveal">
    <h1 class="title-home-page">
      Connect with other Rails developers
    </h1>
  </div>
  <div id="build" data-controller="scroll-reveal">
    <h1 class="title-home-page">
      Build projects together
    </h1>
  </div>
  <div id="showcase" data-controller="scroll-reveal">
    <h1 class="title-home-page">
      Showcase your work
    </h1>
  </div>
</div>
