.button-landing-page {
  background-color: $red;
  color: white;
  font-family: $body-font;
  font-size: 16pt;
  padding: 15px 35px;
  margin: 50px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $red-hover;
  }
}

.button-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  color: white;
  font-family: $body-font;
  font-size: 12pt;
  font-weight: 500;
  padding: 16px 24px;
  margin: 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $red-hover;
  }
}

.button-login {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: $black;
  font-family: $body-font;
  font-size: 13pt;
  font-weight: 500;
  margin: 25px 0px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    color: $red-hover;
  }
}

.primary-button-large {
  background-color: $red;
  color: white;
  font-family: $body-font;
  font-size: 12pt;
  font-weight: 500;
  padding: 1em 5em;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $red-hover;
  }
}

.primary-button-medium {
  background-color: $red;
  color: $soft-white;
  font-family: $body-font;
  font-size: 12pt;
  font-weight: 500;
  padding: 1em 2em;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $red-hover;
  }
}

.reverse-primary-button {
  background-color: $soft-white;
  color: $red;
  border: 1px solid $red;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $soft-white;
    opacity: 0.7;
  }
}
