.button-landing-page {
  background-color: $red;
  color: white;
  font-family: $body-font;
  font-size: 16pt;
  padding: 15px 35px;
  margin: 50px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $red-hover;
  }
}

.button-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  color: white;
  font-family: $body-font;
  font-size: 12pt;
  font-weight: 500;
  padding: 16px 24px;
  margin: 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $red-hover;
  }
}

.button-login {
  color: $black;
  font-family: $body-font;
  font-size: 13pt;
  font-weight: 500;
  padding: 12px 0px;
  margin: 16px 0px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
  &:hover {
    color: $red-hover;
  }
}
