.new-project-icon {
  font-size: 20pt;
  color: $red;
  &:hover {
    cursor: pointer;
    color: $red-hover;
  }
}

.message-notifications-icon {
  font-size: 20pt;
  color: $black;
  &:hover {
    cursor: pointer;
    color: $red-hover;
  }
}
