.navbar-landing-page {
  position: fixed;
  z-index: 1;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  z-index: 1;
  background-color: $soft-white;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100px;


  .navbar-container-left {
    width: 50%;
    height: 100%;

    .navbar-title {
      font-family: $railyard-font;
      color: $red;
      font-size: 40pt;
      margin: 10px 20px;
      text-decoration: none;
    }

    input {
      width: 300px;
      border-radius: 25px;
      margin-left: 10px;
    }
  }

  .navbar-container-right {
    width: 50%;
    height: 100%;
  }
}

.nav-user-profile {
  margin-left: 10px;
  a {
    font-size: 28pt;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
}
