@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";

// Partial Pages
@import "pages/home";
@import "pages/projects_index";
@import "pages/projects_show";
@import "pages/user_profile";
@import "pages/projects_edit";

// Components
@import "components/buttons";
@import "components/navbars";
@import "components/cards";
@import "components/avatars";
@import "components/icons";

body {
  background-color: $soft-white;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar{
    display: none;
  }
}

a {
  text-decoration: none;
  color: $black;
}

h1 {
  color: $red;
}

.underlined-bold-text {
  text-decoration: underline;
  font-weight: 600;
}

.container-skill {
  background-color: $pale-red;
  color: $red;
  font-family: $body-font;
  font-size: 12pt;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 25px;
  margin: 10px 5px;
}

.selected-skill {
  background-color: $soft-white;
  color: $red;
  border: 1px solid $red;
}
